@charset "UTF-8";
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

/*Menu*/
nav {
  background: #3b1d47;
  background: linear-gradient(90deg, #3b1d47 11%, #482b54 22%, #9b82a5 64%, #cbb4d4 87%); }

.navbar-light .navbar-brand:hover {
  color: #cea02d; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #120090; }

.nav-item {
  padding: 0 2vw; }

.navbar-light .navbar-brand {
  color: #b88a17;
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  padding-left: 30px; }

.navbar-light .navbar-nav .nav-link {
  color: #281c7a;
  font-family: 'Satisfy', cursive;
  font-size: 1.7rem; }

.dropdown:hover > .dropdown-menu {
  display: block; }

@media screen and (max-width: 1450px) {
  .nav-item {
    padding: 0 1vw; } }

@media screen and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.5rem;
    color: #b88a17; } }

@media screen and (max-width: 768px) {
  .navbar-light .navbar-brand {
    padding-left: 0;
    font-size: 2.5rem; } }

body {
  margin: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../res/pared2.jpg);
  background-attachment: fixed; }

main {
  margin-top: 100px; }

/*tabla*/
.section__title--table {
  color: #bb9024;
  font-family: 'Satisfy', cursive;
  font-size: 2rem; }

table {
  font-family: 'Piazzolla', serif;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.794); }

/*Sección Galeria de Imágenes Home*/
.section__img {
  margin-top: 100px;
  padding: 20px 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "area1 area2" "area1 area3";
  grid-gap: 10px 10px; }
  .section__img div {
    overflow: hidden;
    width: 100%;
    height: 100%; }

.section__img img {
  transition: all 1s;
  width: 100%;
  height: 100%; }

.section__img img:hover {
  transform: scale(1.05, 1.05); }

.section__img--img1 {
  width: auto;
  grid-area: area1; }

.section__img--img2 {
  width: auto;
  grid-area: area2; }

.section__img--img3 {
  width: auto;
  grid-area: area3; }

/*secciones Gral*/
section {
  text-align: center;
  padding: 20px 0;
  /*border-bottom: 3px solid #967115;*/ }

.section__title, .section__title--product, .seccion__title--contact, .section__title--sobreMi {
  color: black;
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  margin: 0; }

.section__title--product {
  text-align: left;
  font-size: 2.5rem; }

.seccion__title--contact {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem; }

.section__title--sobreMi {
  text-align: left; }

.section__subtitle {
  color: black;
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  margin: 0; }

p,
form {
  color: black;
  font-family: 'Piazzolla', serif;
  font-weight: 600; }

ul li {
  color: black;
  font-family: 'Piazzolla', serif;
  font-weight: 600; }

/*Button*/
button {
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  display: inline;
  color: white;
  padding: 6px 20px;
  font-family: 'Piazzolla', serif; }

button:hover {
  transform: scale(1.05, 1.05); }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

.button--second {
  display: none; }

.section__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 25px 20%; }
  .section__flex div {
    text-align: left; }

.section__flex--text {
  width: 50%; }

/*Sobre Mi Home*/
.card {
  box-shadow: 8px 10px 8px -5px #6c6c6c;
  background-color: rgba(255, 255, 255, 0.671); }

.carousel--sobreMiHome {
  width: 300px;
  height: 300px;
  overflow: hidden; }

.carousel--sobreMiHome img {
  transition: all 1s; }

.carousel--sobreMiHome img:hover {
  transform: scale(1.05, 1.05); }

/*Servicios home*/
.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; }

.flipCard__container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d; }

.flipCard:hover .flipCard__container {
  transform: rotateY(180deg); }

.flipCard__container--front,
.flipCard__container--back {
  position: absolute;
  backface-visibility: hidden;
  max-width: 300px;
  width: 300px;
  height: 300px;
  overflow: hidden; }

.flipCard__container--front {
  background-color: #bbb;
  color: black; }

.flipCard__container--back {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: black;
  transform: rotateY(180deg); }

.flipCard__container--back p {
  font-size: 1.5rem;
  font-family: 'Satisfy', cursive;
  padding-bottom: 5%; }

.flipCard:nth-child(1) .flipCard__container--back {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/catering3.png);
  background-size: cover; }

.flipCard:nth-child(2) .flipCard__container--back {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/tortaCumpleaños4.2.png);
  background-size: cover; }

.flipCard:nth-child(3) .flipCard__container--back {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/boxDesayuno3.jpg);
  background-size: cover; }

img {
  height: 100%; }

/*Productos home*/
.activo {
  width: 300px;
  height: 300px;
  list-style: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0; }

.activo:nth-child(2) {
  margin: 0 16px; }

.activo img {
  transition: all 1s;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.activo img:hover {
  transform: scale(1.05, 1.05); }

.inactivo {
  display: none; }

.stripe {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.568);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; }

.stripe p {
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  margin: 0; }

.container ul {
  padding: 0;
  margin: 0;
  display: flex; }

.container__btn .row {
  position: relative; }

.container__btn a.btn {
  position: absolute;
  top: 45%;
  left: 40px;
  z-index: 10;
  border-radius: 20px;
  color: black;
  background-color: #c3c3c3ca; }

.container__btn a.btn.right {
  position: absolute;
  top: 45%;
  left: unset;
  right: 40px;
  z-index: 10;
  border-radius: 20px; }

@media screen and (max-width: 992px) {
  /*sobreMi home*/
  .button--first {
    display: none; }
  .button--second {
    display: unset;
    text-align: center; }
  .carousel-home {
    margin: 0 auto 20px; }
  /*Productos Home*/
  .container__btn a.btn {
    left: 20px; }
  .container__btn a.btn.right {
    right: 36px; } }

@media screen and (max-width: 768px) {
  /*sobreMi home*/
  .container--sobreMi {
    text-align: center; }
  .card {
    width: 100%; }
  /*Servicios Home*/
  .flipCard {
    width: 90%;
    height: 200px; }
  .flipCard__container {
    width: 100%;
    height: 100%; }
  .flipCard:hover .flipCard__container {
    transform: none; }
  .flipCard__container--front {
    display: none; }
  .flipCard__container--back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 200px;
    max-width: 100%;
    overflow: hidden;
    transform: rotateY(0deg);
    border: 1px solid black;
    transition: all 1s; }
  .flipCard__container--back:hover {
    transform: scale(1.05, 1.05); }
  .section__flex,
  .section__img {
    padding: 10px 10%; }
  .container-carousel .carousel {
    display: unset; }
  .container-carousel .card-body {
    height: auto; }
  /*Productos Home*/
  .container__btn a.btn {
    left: 20px; }
  .container__btn a.btn.right {
    right: 20px; } }

@media screen and (max-width: 364px) {
  /*Productos Home*/
  .container__btn a.btn {
    left: 0; }
  .container__btn a.btn.right {
    right: 0; } }

/*seccion pagina sobreMi*/
.section--sobreMi {
  margin: 20px 15% 75px;
  padding: 25px 0;
  box-shadow: 8px 10px 8px -5px #6c6c6c;
  background-color: rgba(255, 255, 255, 0.671);
  min-height: 50vh; }

.card--sobreMi p {
  text-align: justify; }

.carousel--sobreMiPage {
  overflow: hidden;
  max-width: 400px;
  margin: auto; }

.carousel--sobreMiPage img {
  width: 100%;
  transition: all 1s;
  object-fit: cover; }

.carousel--sobreMiPage img:hover {
  transform: scale(1.05, 1.05); }

@media screen and (max-width: 1200px) {
  .section--sobreMi {
    margin: 20px 8% 75px; } }

@media screen and (max-width: 364px) {
  .section--sobreMi {
    margin: 0 0 75px;
    padding-top: 20px;
    justify-content: center; }
  .carousel--sobreMiPage {
    min-height: 350px; } }

/*seccion pagina servicios*/
.card--servicios {
  box-shadow: 8px 10px 8px -5px #6c6c6c;
  background-color: rgba(255, 255, 255, 0.671);
  margin: 20px 10%;
  padding: 25px 0; }

.card--servicios img {
  max-width: 300px;
  width: 300px;
  height: auto; }

.card--servicios p {
  text-align: justify; }

@media screen and (max-width: 992px) {
  .card--servicios img {
    display: none; }
  .section__flex--text {
    width: 90%; }
  .card-body {
    height: 200px; }
  .container-carousel img {
    display: none; } }

/*seccion productos pagina productos*/
.container-carousel img {
  height: 320px;
  object-fit: cover; }

.container-carousel .row {
  position: relative; }

.container-carousel a.btn {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
  border-radius: 20px;
  color: black;
  background-color: #c3c3c3ca; }

.container-carousel a.btn[data-slide=next] {
  position: absolute;
  top: 45%;
  left: unset;
  right: 0;
  z-index: 10;
  border-radius: 20px; }

/*responsive*/
@media screen and (max-width: 1199px) {
  .container__btn a.btn {
    left: 2px; }
  .container__btn a.btn.right {
    right: 3px; } }

/*contacto*/
.form-control:focus {
  border: 1px solid #0F0050;
  outline: none;
  box-shadow: none; }

button[type="submit"],
button[type="reset"] {
  background-color: #bb9024;
  color: white; }

button[type="submit"]:hover,
button[type="reset"]:hover {
  transform: scale(1.05, 1.05); }

.imgContacto {
  width: 400px;
  height: 300px; }

.section--small {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 2px auto 75px; }

/*Footer*/
footer {
  background: #5c4067;
  background: linear-gradient(45deg, #5c4067 1%, #775c81 12%, #9b82a5 54%, #cbb4d4 87%);
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%; }
  footer div a {
    display: block;
    text-align: left;
    color: black;
    font-family: 'Piazzolla', serif;
    font-weight: 800; }

footer .section__title, footer .section__title--product, footer .seccion__title--contact, footer .section__title--sobreMi,
footer .section__subtitle {
  margin-bottom: 20px; }

.iframeMaps {
  border: 1px solid gray; }

@media screen and (max-width: 768px) {
  iframe {
    width: 300px; } }
