body {
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../res/pared2.jpg);
    background-attachment: fixed;
}

main {
    margin-top: 100px;
}