/*Footer*/
footer {
    background: rgb(92, 64, 103);
    background: linear-gradient(45deg, rgba(92, 64, 103, 1) 1%, rgba(119, 92, 129, 1) 12%, rgba(155, 130, 165, 1) 54%, rgba(203, 180, 212, 1) 87%);

    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;

    div a {
        display: block;
        text-align: left;
        color: black;
        font-family: 'Piazzolla', serif;
        font-weight: 800;
    }

}

footer .section__title,
footer .section__subtitle {
    margin-bottom: 20px;
}

.iframeMaps {
    border: 1px solid gray;
}

@media screen and (max-width: 768px) {
    iframe {
        width: 300px;
    }
}