/*Footer*/
$violet:#3b1d47;

footer {
    background: rgb(59, 29, 71);
    background: linear-gradient(90deg, rgba(59, 29, 71, 1) 0%, rgba(86, 44, 102, 1) 61%);
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;

    div {
        padding: 0 10px 0 35px;
    }

    div a {
        display: block;
        justify-content: center;
        text-align: left;
        color: black;
        font-family: 'Piazzolla', serif;
        font-weight: 800;
        padding-left: 30px;
    }

    div a:hover {
        color: #ffc944;
    }

    p {
        text-align: left;
        padding-left: 30px;
    }
}

footer .section__title,
footer .section__subtitle {
    margin-bottom: 20px;
}

footer .section__subtitle {
    padding-right: 60px;
}

iframe {
    border: 1px solid black;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    iframe {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 945px) {
    footer div {
        margin-bottom: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 583px) {
    footer .section__subtitle {
        padding-right: inherit;
    }
}