$gold: #fbbb1c;
$shinyGold:#ffc944;
$violet:#3b1d47;

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/*Menu*/
nav {
    /*background-color: #3b1d47;*/
    background: rgb(59, 29, 71);
    background: linear-gradient(90deg, rgba(59, 29, 71, 1) 0%, rgba(86, 44, 102, 1) 61%);
}

.navbar-light .navbar-brand:hover {
    color: $shinyGold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $shinyGold;
}

.nav-item {
    padding: 0 2vw;
}

.navbar-light .navbar-brand {
    color: $gold;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    padding-left: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: $gold;
    font-family: 'Satisfy', cursive;
    font-size: 1.7rem;
}

.navbar-light .navbar-toggler {
    color: $gold;
    border-color: $gold;
}

.navbar-toggler-icon {
    filter: invert(58%) sepia(18%) saturate(3096%) hue-rotate(13deg) brightness(90%) contrast(82%);
}

.navbar-nav .dropdown-menu {
    background: rgb(59, 29, 71);
    background: linear-gradient(90deg, rgba(59, 29, 71, 1) 0%, rgba(86, 44, 102, 1) 61%);
    margin: 0;
}

.navbar-nav .dropdown-menu a {
    font-family: 'Satisfy', cursive;
    background: rgb(59, 29, 71);
    background: linear-gradient(90deg, rgba(59, 29, 71, 1) 0%, rgba(86, 44, 102, 1) 61%);
    color: $gold;
    font-size: 1.4rem;
}

.navbar-nav .dropdown-menu a:hover {
    color: $shinyGold;
}

.hvr-underline-from-center:before {
    background: $shinyGold;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

@media screen and (max-width:1450px) {
    .nav-item {
        padding: 0 1vw;
    }
}

@media screen and (max-width:992px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 1.5rem;
        color: $gold;
    }
}

@media screen and (max-width: 768px) {
    .navbar-light .navbar-brand {
        padding-left: 0;
        font-size: 2.5rem;
    }
}