/*Sección Galeria de Imágenes Home*/
@mixin size ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.section__img {
    margin-top: 100px;
    padding: 20px 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "area1 area2"
        "area1 area3";
    grid-gap: 10px 10px;

    div {
        overflow: hidden;
        @include size(100%, 100%);
    }
}

.section__img img {
    transition: all 1s;
    width: 100%;
    height: 100%;
}


.section__img img:hover {
    transform: scale(1.05, 1.05);
}

@for $i from 1 to 4 {
    .section__img--img#{$i} {
        width: auto;
        grid-area: area+$i;
    }
}


/*secciones Gral*/
section {
    padding: 20px 0;
}

@mixin title {
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    margin: 0;
}

.section__title {
    @include title();
}

.section__title--product {
    @extend .section__title;
    text-align: left;
    font-size: 2.5rem;
}

.seccion__title--contact {
    @extend .section__title;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}

.section__title--sobreMi {
    @extend .section__title;
    text-align: left;
}

.section__title--footer {
    @extend .section__title;
    color: #fbbb1c;
}

.section__subtitle {
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    margin: 0;
}

.section__subtitle--footer {
    @extend .section__subtitle;
    color: #fbbb1c;

    ~p,
    ~a {
        color: #fbbb1c;
    }
}

p,
form {
    color: black;
    font-family: 'Piazzolla', serif;
    font-weight: 600;
}

ul li {
    color: black;
    font-family: 'Piazzolla', serif;
    font-weight: 600;
}

/*Button*/
button {
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
    display: inline;
    color: white;
    padding: 6px 20px;
    font-family: 'Piazzolla', serif;
}

button:hover {
    transform: scale(1.05, 1.05);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.button--second {
    display: none;
}



.section__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px 20%;

    div {
        text-align: left;
    }

}

.section__flex--text {
    width: 50%;
}


/*Sobre Mi Home*/
.card {
    box-shadow: 8px 10px 8px -5px #6c6c6c;
    background-color: rgba(255, 255, 255, 0.671);
}

.carousel--sobreMiHome {
    @include size(300px, 300px);
    overflow: hidden;
}


.carousel--sobreMiHome img {
    transition: all 1s;
}

.carousel--sobreMiHome img:hover {
    transform: scale(1.05, 1.05);

}


/*Servicios home*/
.flipCard {
    background-color: transparent;
    @include size(300px, 300px);
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flipCard__container {
    position: relative;
    @include size(100%, 100%);
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCard__container {
    transform: rotateY(180deg);
}

.flipCard__container--front,
.flipCard__container--back {
    position: absolute;
    backface-visibility: hidden;
    max-width: 300px;
    @include size(300px, 300px);
    overflow: hidden;
}

.flipCard__container--front {
    background-color: #bbb;
    color: black;
}

.flipCard__container--back {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
    transform: rotateY(180deg);
}

.flipCard__container--back p {
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
    padding-bottom: 5%;
}

.flipCard:nth-child(1) .flipCard__container--back {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/catering3.png);
    background-size: cover;
}

.flipCard:nth-child(2) .flipCard__container--back {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/tortaCumpleaños4.2.png);
    background-size: cover;
}

.flipCard:nth-child(3) .flipCard__container--back {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.918)), url(../res/boxDesayuno3.jpg);
    background-size: cover;
}

img {
    height: 100%;
}

/*Productos home*/
.activo {
    @include size(300px, 300px);
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.activo:nth-child(2) {
    margin: 0 16px;
}

.activo img {
    transition: all 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activo img:hover {
    transform: scale(1.05, 1.05);
}

.inactivo {
    display: none;
}

.stripe {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stripe p {
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    margin: 0;
}

.container ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.container__btn .row {
    position: relative;
}

.container__btn a.btn {
    position: absolute;
    top: 45%;
    left: 40px;
    z-index: 10;
    border-radius: 20px;
    color: black;
    background-color: #c3c3c3ca;
}

.container__btn a.btn.right {
    position: absolute;
    top: 45%;
    left: unset;
    right: 40px;
    z-index: 10;
    border-radius: 20px;
}

@media screen and (max-width:992px) {

    /*sobreMi home*/
    .button--first {
        display: none;
    }

    .button--second {
        display: unset;
        margin-top: 15px;
    }

    .button--secondFather {
        text-align: center;
    }

    .carousel-home {
        margin: 0 auto 20px;
    }

    /*Productos Home*/
    .container__btn a.btn {
        left: 20px;
    }

    .container__btn a.btn.right {
        right: 36px;

    }
}

@media screen and (max-width:991px) {
    .carousel--sobreMiHome {
        margin: auto;
    }

}

@media screen and (max-width: 768px) {

    /*sobreMi home*/
    .container--sobreMi p {
        text-align: justify;
    }

    .card {
        width: 100%;
    }

    /*Servicios Home*/
    .flipCard {
        @include size(90%, 200px);
    }

    .flipCard__container {
        @include size(100%, 100%);
    }

    .flipCard:hover .flipCard__container {
        transform: none;
    }

    .flipCard__container--front {
        display: none;
    }

    .flipCard__container--back {
        position: absolute;
        backface-visibility: hidden;
        @include size(100%, 200px);
        max-width: 100%;
        overflow: hidden;
        transform: rotateY(0deg);
        border: 1px solid black;
        transition: all 1s;
    }

    .flipCard__container--back:hover {
        transform: scale(1.05, 1.05);
    }

    .section__flex,
    .section__img {
        padding: 10px 10%;
    }

    .container-carousel .carousel {
        display: unset;
    }

    .container-carousel .card-body {
        height: auto;
    }

    /*Productos Home*/
    .container__btn a.btn {
        left: 20px;
    }

    .container__btn a.btn.right {
        right: 20px;

    }
}

@media screen and (max-width: 364px) {

    /*Productos Home*/
    .container__btn a.btn {
        left: 0;
    }

    .container__btn a.btn.right {
        right: 0;
    }
}