/*seccion pagina sobreMi*/
.section--sobreMi {
    margin: 20px 15% 75px;
    padding: 25px 0;
    box-shadow: 8px 10px 8px -5px #6c6c6c;
    background-color: rgba(255, 255, 255, 0.671);
}


.carousel--sobreMi {
    max-width: 90%;
    margin: auto;

}

.carousel__img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}